@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
html {
  /* background-color: ; */
  scroll-behavior: smooth;
  background: url(/assets/pics/back.jpg);
  /* animation-delay: 5ms; */
  background-repeat: no-repeat;
  background-size: cover;
  background: url(/assets/pics/pro_back2.png);
  animation-delay: 5ms;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* position:fixed; */
  background-size: cover;
  /* height: 5000px; */
}

.head_top{
  margin:auto;
  width: 100%;
  /* position: absolute; */
  

}

.head_pic {
  text-align: center;
  clip-path:circle();

  
}

.head_bio a{
  text-align: left;
  text-decoration: none;
  list-style: none;

  width: 100%;
  font-size: 36px;

  font-family: 'Dancing Script', cursive;

  /* color: white; */
  text-shadow: 2px 2px 10px grey;
  animation: fade 10s infinite;  
}

  @keyframes fade {
    0%{
      color: rgb(0, 0, 0);
      text-shadow: 2px 2px 10px rgb(129, 129, 129);
    }

    50%{
      color: rgb(128, 128, 128);
      text-shadow: 2px 2px 12px rgb(255, 255, 255);
    }


    100%
    {
      color: rgb(0, 0, 0);
      text-shadow: 2px 2px 10px rgb(117, 117, 117);
    }
  }




.head_follow {
  width: 50%;
  margin: auto;
  font-size: 20px;

  /* border:2px solid white ; */
  

} 

.head_follow a {
  text-align: left;
  color: rgb(255, 255, 255);

  text-shadow: 2px 2px 10px rgb(70, 69, 69);
  /* background-color: black; */
  /* text-decoration: none; */
  font-family: 'Dancing Script', cursive;
  /* border: 0.5px solid grey; */
  /* padding: px; */
 
}

.links {
  text-align: left;
  justify-content: left;
  /* border: 2px solid white; */
  width: 40%;

  /* margin: auto; */
  /* background-color: black; */
  filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
  /* padding: 0px 0px 0px 0px ; */
  display: flex;
  
}

.links:hover{
  filter: drop-shadow(5px 5px 20px rgb(0, 0, 0));
  /* background-color: white;
  border-radius: 50%; */
}

.navbar {

  display: flex;
  /* padding: 20px 20px 20px 20px ; */
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  /* border: 2px solid white; */
  /* margin: auto; */
  width: 30%;

}

.nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);

  padding: 0 50px 0px 0px ;

}

.nav:hover a {
  color: rgb(139, 139, 139);
  text-shadow: 2px 2px 10px rgb(255, 255, 255);
  
}

.developed {
  position: absolute; 
  bottom: 0; 
  right: 0; 
  width: 300px;
  padding: 0px 20px 20px 0px ; 
  text-align:right;
  color: grey;
  font-size: 12px;
}